# IDEs
.settings
.vscode
.metadata
.classpath
.project
.idea
runClient.launch
runData.launch
runGameTestServer.launch
runServer.launch

# Gradle
.gradle
build
bin

# Forge
run
logs

# Project Utils
utils/

# Media
media/**/*.png
*.sf2.bak